<h2>Listing Charities</h2><br/>
<div class="FL" style="width:235px;"></div>
<div class="FL" style="width:765px;">
   <% @charities.each do |club| %>
  <div style="margin-left:20px;">
    <div class="FL list_text" style="width:150px;"><%= image_tag Store.find(:first, :conditions => ["user_id=?",club.user_id]).avatar.url(:thumb)  %></div>
    <div class="FL list_text" style="width:150px;"><%=  club.organizationname  %></div>
    <div class="FL list_text" style="width:150px;"><%= club.sport %></div>
    <div class="FL list_text" style="width:150px;"><%= club.state  %></div>
    <div class="clear"></div>
  </div>
  <% end %>
  
  <div>&nbsp;</div>
</div>
<div class="clear"></div>
<div>&nbsp;</div>
