<div>&nbsp;</div>
<div>&nbsp;</div>
<div style="padding-left:50px; color:#652803;">
<div><h2>PayPal Success!</h2></div>
<p>Thank you for your payment. Your transaction has been completed, and a receipt for your purchase has been emailed to you. You may log into your account at <a href="http://www.paypal.com">http://www.paypal.com</a> to view details of this transaction.</p>
</div>